<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.project.ws.mapper.WsProjectSitePartitionMapper">

    <resultMap type="WsProjectSitePartition" id="WsProjectSitePartitionResult">
        <result property="id" column="id"/>
        <result property="partitionName" column="partition_name"/>
        <result property="projectId" column="project_id"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <sql id="selectWsProjectSitePartitionVo">
        select id, partition_name, project_id, created_by, created_time, updated_by, updated_time from t_ws_project_site_partition
    </sql>

    <select id="selectWsProjectSitePartitionList" parameterType="Integer" resultMap="WsProjectSitePartitionResult">
        <include refid="selectWsProjectSitePartitionVo"/>
        where project_id = #{projectId}
    </select>

    <select id="selectWsProjectSitePartitionById" parameterType="Integer" resultMap="WsProjectSitePartitionResult">
        <include refid="selectWsProjectSitePartitionVo"/>
        where id = #{id}
    </select>


    <select id="existsWsProjectSitePartition" parameterType="WsProjectSitePartition" resultMap="WsProjectSitePartitionResult">
        <include refid="selectWsProjectSitePartitionVo"/>
        where partition_name = #{partitionName} and project_id = #{projectId}
    </select>

    <select id="selectWsProjectSitePartitionByName" parameterType="WsProjectSitePartition" resultMap="WsProjectSitePartitionResult">
        <include refid="selectWsProjectSitePartitionVo"/>
        where partition_name = #{partitionName} and project_id = #{projectId} and id !=#{id}
    </select>

    <insert id="insertWsProjectSitePartition" parameterType="WsProjectSitePartition" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_ws_project_site_partition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="partitionName != null  and partitionName != ''">partition_name,</if>
            <if test="projectId != null ">project_id,</if>
            <if test="createdBy != null ">created_by,</if>
            <if test="createdTime != null ">created_time,</if>
            <if test="updatedBy != null ">updated_by,</if>
            <if test="updatedTime != null ">updated_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="partitionName != null  and partitionName != ''">#{partitionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="createdBy != null ">#{createdBy},</if>
            <if test="createdTime != null ">#{createdTime},</if>
            <if test="updatedBy != null ">#{updatedBy},</if>
            <if test="updatedTime != null ">#{updatedTime},</if>
        </trim>
    </insert>

    <update id="updateWsProjectSitePartition" parameterType="WsProjectSitePartition">
        update t_ws_project_site_partition
        <trim prefix="SET" suffixOverrides=",">
            <if test="partitionName != null  and partitionName != ''">partition_name = #{partitionName},</if>
            <if test="projectId != null ">project_id = #{projectId},</if>
            <if test="updatedBy != null ">updated_by = #{updatedBy},</if>
            updated_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWsProjectSitePartitionById" parameterType="Integer">
        delete from t_ws_project_site_partition where id = #{id}
    </delete>

    <delete id="deleteWsProjectSitePartitionByIds" parameterType="String">
        delete from t_ws_project_site_partition where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectWsProjectSitePartitionLists" parameterType="Integer" resultMap="WsProjectSitePartitionResult">
        <include refid="selectWsProjectSitePartitionVo"/>
        where project_id = #{projectId}
    </select>
</mapper>