<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlkj.project.ws.mapper.WsQualificationCertificateMapper">


    <resultMap type="WsQualificationCertificate" id="WsQualificationCertificateResult">
        <result property="id"    column="id"    />
        <result property="teamPersonId"    column="team_person_id"    />
        <result property="certificateName"    column="certificate_name"    />
        <result property="certificateNumber"    column="certificate_number"    />
        <result property="certificateType"    column="certificate_type"    />
        <result property="certificateLevelCode"    column="certificate_level_code"    />
        <result property="certificateLevel"    column="certificate_level"    />
        <result property="effectiveDate"    column="effective_date"    />
        <result property="invalidDate"    column="invalid_date"    />
        <result property="frontImage"    column="front_image"    />
        <result property="reverseImage"    column="reverse_image"    />

    </resultMap>

    <sql id = "selectWsQualificationCertificateVo">
        select qc.id,qc.team_person_id,qc.certificate_name,qc.certificate_number,qc.certificate_type,qc.certificate_level_code,
               qc.effective_date,qc.invalid_date,qc.front_image,qc.reverse_image,
               d.dict_label certificate_level
               from t_ws_team_person tp
               left join t_ws_qualification_certificate qc on  tp.id = qc.team_person_id
               left join sys_dict_data d on  (qc.certificate_level_code = d.dict_value and d.dict_type="ws_certificate_level")
    </sql>

    <select id="countWsQualificationCertificateByCertificateNumber" parameterType="String" resultType="int">
        select count(1) from t_ws_qualification_certificate
        where certificate_number = #{certificateNumber};

    </select>

    <select id="selectCertificateListByIdNumber" parameterType="String" resultMap="WsQualificationCertificateResult">
        <include refid="selectWsQualificationCertificateVo"/>
        where tp.id_number = #{idNumber}
    </select>

    <select id="selectCertificateListByPersonId" parameterType="Integer" resultMap="WsQualificationCertificateResult">
        <include refid="selectWsQualificationCertificateVo"/>
        where qc.team_person_id = #{personId}
    </select>

    <insert id="insertWsQualificationCertificate" parameterType="WsQualificationCertificate">
        insert into t_ws_qualification_certificate (
        <if test="teamPersonId != null">team_person_id,</if>
        <if test="certificateName != null  and certificateName != ''">certificate_name,</if>
        <if test="certificateNumber != null  and certificateNumber != ''">certificate_number,</if>
        <if test="certificateType != null  and certificateType != ''">certificate_type,</if>
        <if test="certificateLevelCode != null  and certificateLevelCode != ''">certificate_level_code,</if>
        <if test="frontImage != null  and frontImage != ''">front_image,</if>
        <if test="reverseImage != null  and reverseImage != ''">reverse_image,</if>
        <if test="effectiveDate != null">effective_date,</if>
        <if test="invalidDate != null">invalid_date,</if>
        <if test="deleted != null and deleted!=''">is_delete,</if>
        created_time,updated_time
        )values (
        <if test="teamPersonId != null">#{teamPersonId},</if>
        <if test="certificateName != null  and certificateName != ''">#{certificateName},</if>
        <if test="certificateNumber != null  and certificateNumber != ''">#{certificateNumber},</if>
        <if test="certificateType != null  and certificateType != ''">#{certificateType},</if>
        <if test="certificateLevelCode != null  and certificateLevelCode != ''">#{certificateLevelCode},</if>
        <if test="frontImage != null  and frontImage != ''">#{frontImage},</if>
        <if test="reverseImage != null  and reverseImage != ''">#{reverseImage},</if>
        <if test="effectiveDate != null">#{effectiveDate},</if>
        <if test="invalidDate != null">#{invalidDate},</if>
        <if test="deleted != null and deleted!=''">#{deleted},</if>
        sysdate(),sysdate()
        )
    </insert>

    <update id="updateWsQualificationCertificate" parameterType="WsQualificationCertificate">
        update t_ws_qualification_certificate set
        <if test="certificateName != null  and certificateName != ''">certificate_name=#{certificateName},</if>
        <if test="certificateNumber != null  and certificateNumber != ''">certificate_number=#{certificateNumber},</if>
        <if test="certificateType != null  and certificateType != ''">certificate_type=#{certificateType},</if>
        <if test="certificateLevelCode != null  and certificateLevelCode != ''">certificate_level_code=#{certificateLevelCode},</if>
        <if test="frontImage != null  and frontImage != ''">front_image=#{frontImage},</if>
        <if test="reverseImage != null  and reverseImage != ''">reverse_image=#{reverseImage},</if>
        <if test="effectiveDate != null">effective_date=#{effectiveDate},</if>
        <if test="invalidDate != null">invalid_date=#{invalidDate},</if>
        <if test="deleted != null and deleted!=''">is_delete=#{deleted},</if>
        updated_time = sysdate()
        where id =#{id}
    </update>

    <delete id="deleteWsQualificationCertificateByPersonId" parameterType="Integer">
        delete from  t_ws_qualification_certificate where team_person_id=#{personId}
    </delete>

    <delete id="deleteWsQualificationCertificateById" parameterType="Integer">
        delete from  t_ws_qualification_certificate where id=#{id}
    </delete>

</mapper>
